@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

.body {
  padding: 0;
  margin: 0;
  height: 82vh;
  background: #2a2734;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./pic.jpg) no-repeat center;
  background-size: cover;
}
.container {
  width: auto;
  height: 500px;
  background-color: black;
  box-shadow: 0 8px 50px -7px black;
  border-radius: 10px;
}
#input {
  width: 300px;
  height: 130px;
  border: none;
  background-color: black;
  color: white;
}
.row {
  margin-left: 10px;
}
.btn {
  width: 60px;
  height: 60px;
  margin: 7px 0 3px 6px;
  border-radius: 50%;
  border: none;
  background-color: rgba(128, 128, 128, 0.358);
  color: white;
  cursor: pointer;
  font-size: large;
}
.opbtn {
  width: 60px;
  height: 60px;
  margin: 7px 0 3px 6px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 111, 0, 0.525);
  color: white;
  cursor: pointer;
  font-size: large;
}
#zero {
  width: 120px;
  height: 60px;
  margin: 7px 0 3px 6px;
  border-radius: 40px;
  border: none;
  background-color: rgba(255, 111, 0, 0.525);
  background-color: rgba(128, 128, 128, 0.358);
  color: white;
  cursor: pointer;
  font-size: large;
}
